div.cartodb-zoom a.zoom_in {
	border-bottom: 1px solid #E6E6E6;
	background-position: -68px 10px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

div.cartodb-zoom a.zoom_out {
	background-position: -94px 10px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

div.cartodb-zoom a {
	position: relative;
	display: block;
	width: 28px;
	height: 28px;
	padding: 0;
	font: bold 20px "Arial";
	color: #999999;
	text-align: center;
	text-decoration: none;
	text-indent: -9999px;
	line-height: 0;
	font-size: 0;
	background: url("//cartodb-libs.global.ssl.fastly.net/cartodbui/assets/3.23.32/images/themes/other.png") no-repeat 0 0;
}
